.restaurant.home.icon {
  position: relative;
}

.restaurant.home.icon .overlay {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.restaurant.home.icon .overlay .table-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  text-align: center;
}

.restaurant.home.icon .overlay .table-wrapper .edit-icon {
  opacity: 0.45;
}

.restaurant.home.icon .restaurant-icon-edit-button {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.restaurant.home.name {
  margin-top: 0.3rem;
}

.restaurant.home.button.edit {
  margin-top: 2rem;
  text-align: center;
}

.required.field.restaurant.name.edit {
  margin-top: 2rem;
}

.required.field.restaurant.edit.zip {
  width: 6rem;
  text-align: center;
}

.required.field.restaurant.edit.state .ui.fluid.selection.dropdown {
  padding-left: 0.5rem;
}

.required.field.restaurant.edit.state .item {
  text-align: center;
}

.required.field.restaurant.edit.state .item .text {
  position: absolute;
  font-size: 0.8rem;
  transform: translate(-50%, -50%);
}

.fields.restaurant.edit.phone .area-code {
  width: 4rem;
}

.fields.restaurant.edit.phone .phone {
  width: 9rem;
  text-align: right;
}
