/*.ui.form.restaurant.name.centered {
  width: 40rem;
  transform: translate(40rem, 17rem);
  font-size: 1.5rem;
  text-align: center;
}*/

.center-inputText {
  text-align: center;
}

.center-inputField {
  text-align: center;
}

.label-top-lg {
  font-weight: 700;
  font-size: 1.5rem;
}

.main-app-color {
  background: #ff6435;
}

.ui.massive.form.new.restaurant {
  text-align: center;
  width: 40rem;
  transform: translate(40rem, 17rem);
}
