/*.ui.form.restaurant.name.centered {
  width: 40rem;
  transform: translate(40rem, 17rem);
  font-size: 1.5rem;
  text-align: center;
}*/

.text.centered {
  text-align: center !important;
}

.ui.massive.form.new.restaurant {
  text-align: center;
  width: 40rem;
  transform: translate(40rem, 17rem);
}
