.form.info.center {
  transform: translate(43rem, 5rem) !important;
  width: 27rem;
}

.form.info.center > h1 {
  text-align: center;
}

.field.address.city > .ui.input {
  width: 18.4rem !important;
}

.field.address.state > .ui.input {
  width: 3rem !important;
}

.field.address.zip > .ui.input {
  width: 5rem !important;
}

.field.phone.area > .ui.input {
  width: 3.1rem !important;
}

.field.phone > .ui.input {
  width: 7rem !important;
}

.fields.phone > span {
  padding-top: 0.2rem;
}
